.splash-page {
    font-family: Roboto;
    font-style: normal;
}

.center {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.fontstyle {
    font-family: Roboto;
    font-style: normal;
    font-size: 14px;
}

.portfolio {
    font-family: Roboto;
}

.nav {
    display: flex;
    gap: 15px;
    justify-content: flex-end;
}

.nav-button {
    font-size: 14px;
    line-height: 40px;
}

.headline {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.intro {
    /*margin-top: auto;*/
    margin-top: 10rem;
    font-weight: 10;
    font-size: xx-large;
    line-height: 10px;
}

.about-me {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
}

.about-text {
    font-size: 14px;
}

.subtitle {
    font-size: 17px;
    margin-bottom: 5px;
}

.desc-me {
    line-height: 5px;
    font-size: small;
}

.portfolio {
    margin-top: 400px;
}

.proj-col {
    display: flex;
    flex-direction: column;
}

.proj-item {
    gap: 40px;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    min-width: none;
}

.img-size {
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.proj-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.media {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    gap: 24px;
}

.proj-portfolio {
    display: flex;
    justify-content: center;
    flex-direction: row;
}